    <div class="container">
      <div class="topnav">
        <a href="/">home</a>
        <a href="#contact">contact</a>
        <a href="/about">about</a>
        <a href="https://www.linkedin.com/in/natalie-wolff/"target="_blank">linkedin</a>
        <a href="https://twitter.com/natwolffcodes"target="_blank">twitter</a>
      </div>
    </div>
