<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="./css/main.css">
    <link rel="stylesheet" href="./css/stylesheet.css" type="text/css" charset="utf-8" />
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    <% include ../partials/nav.ejs %>

<div="about">
<h1>about me</h1>

<p>
I was born and raised in Cleveland, Ohio, spent my 20's in Portland, OR and am currently living in Brooklyn, NY.
</p>

<p>
I play Australian Rules Football for the <a href="http://newyorkmagpies.com/"target="_blank">New York Magpies</a> and the <a href="https://usafl.com/videos/20171029/come-have-kick"target="_blank">USA Freedom</a>.
 </p>

<p>
I say hello to every dog that I see.
</p>

</div>
  </body>
</html>
