<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="./css/main.css">
    <link rel="stylesheet" href="./css/stylesheet.css" type="text/css" charset="utf-8" />
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    <% include ../partials/nav.ejs %>

    
<h1>about me</h1>

<p>
Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium impedit delectus neque temporibus, esse quos. Suscipit illum quis ducimus porro tempore culpa a accusamus officiis. Iusto, omnis deleniti earum illo.</p>
  </body>
</html>
