<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="./css/main.css">
    <link rel="stylesheet" href="./css/stylesheet.css" type="text/css" charset="utf-8" />

    <title>Natalie Wolff</title>
  </head>
  <body>
      <div class="container">

        <% include ../partials/nav.ejs %>



        <div class="header-text">
          <div class="header-img">
          </div>
          <h1>I am Natalie Wolff.</h1>
            <p>I am a full stack web developer with tons of customer service experience and a killer 3-point shot. My dog may or may not have made this website.</p>

        </div>





  <h1>Here are some cool things that I've made.</h1>
        <div class="projects">

            <div class="stayHuman">
            <a href="https://stayhuman.herokuapp.com/" target="_blank">Stay Human</a>
            <img src="https://i.imgur.com/YQ69iC4.png" alt="">
              <p>Reminding you to take care of yourself in simple but important ways. Built on a MEAN stack using jQuery and CSS Grid.</p>
            </div>

            <div class="petProject">

              <a href="https://thepetproject.herokuapp.com/"  target="_blank">PetProject
              <img src="https://i.imgur.com/oeMUcN5.jpg">
              </a>
                <p>Find the best friend that you've been looking for. Built using the official PetFinder API on a MEAN stack.  </p>
            </div>

            <div class="reactRecords">
              <a href="https://react-records-app.herokuapp.com/" target="_blank">React Records
              <img src="https://i.imgur.com/RjVAVqw.jpg" ></a>
              <p>A mock-up for a local record store using REACT and Ruby on Rails.</p>
            </div>

        </div>

<img src="" alt="">

    </div>
    </div>
  </body>
</html>
