
@font-face {
  font-family: Range;
  src: url(/fonts/Range.otf);
}

@font-face {
  font-family: 'AmaticSC-Regular';
  src: url(AmaticSC-Regular.ttf)
}

/* .container{
  border: solid black 2px;
  width: 100%;
} */
body{
  background-color: #D9C7BB;
  width: 100%;
  font-family:'AmaticSC-Regular';

}

.topnav {
  background-color: brown;
  overflow: hidden;
}

.topnav a{
  text-align: center;
  padding: 20px 20px;
  text-decoration: none;
  font-size: 26px;
}

.topnav a:hover{
  color: white;
  background-color: gray;
}

.topnav a:active {
  background-color: white;
  color: gray;
}
.header {
  position: relative;

}

.header-text > h1 {

  font-size: 72px;
  color: brown;
}

 .header-text > p {
  font-size: 28px;
  color: gray;
  padding-left: 50px;
  text-align: right;
  top: 50%;
  left: 50%;
}


.header-img {
  background-image: url('https://i.imgur.com/g3iZIZB.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
  height: 420px;
  padding: 0;
}

.projects {
  display: flex;
  align-items:stretch;
  flex-direction: row;
  justify-content: center;
  width: 50%;
  margin: 0 auto;
  text-align: center;
}


.projects, img {
   /* border: 1px solid #ddd; */
   border-radius: 2px;
   padding: 5px;
   width: 300px;
   height: 220px;
  }

.projects, p {
  color: black;
  font-size: 22px;
}

  .projects, a {
    text-decoration: none;
    color: black;
  }
  .projects, a:hover{
    color: gray;
  }
